# Byte-compiled / optimized / DLL files
*.py[cod]
*.twitter
.DS_Store
insight_testsuite/results.txt
insight_testsuite/temp

*.o
*.a
rolling_median
test_med_heap_map
test_venmo_graph
test_med_deg_stream